
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: white;
}

hr {
    border-top: 2px solid #22235F;
}

nav {
    overflow: hidden;
    border-bottom : 2px solid #22235f;
    width: 100vw;
    background-color: white;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-right: 2em;
}

nav ul li:not(:first-child) {
    float: right;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li a {
    color: #22235f;
    background-color: white;
    display: block;
    line-height: 2em;
    padding: 1em 1em;
    text-decoration: none;
}

nav ul li a:hover {
    color: #bd404a;
    text-decoration: underline;
}



nav button {
    padding: 6px;
    width: 70px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: #22235f;
    border: none;
    border-radius: 10%;
    color: white;
}

nav button:hover {
    cursor: pointer;
}

/* home */

.search {
    background: url("images/home_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.searchbar {
    width: 100%;
    max-width: 750px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 20px;
}

.searchbar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #22235f;
}


.searchbar button img {
    width: 25px;
}
.searchbar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: white;
    cursor: pointer;
}

.search a {
    color: white;
    font-family: 'Inter', sans-serif;
}

.browsecatalog {
    width: 750px;
    text-align: right;
}

.popularbooks table {
    width: 95%;
    max-width: 900px;
    padding-top: 1rem;
    background-color: white;
}
.popularbooks table td {
    width: 25%;
    color: #22235f;
    padding: 0 10px;
}

.popularbooks table td img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
}

/* Login */



.loginform {
    display: inline-block;
    vertical-align:top;
    float: left;
    font-family: 'Inter', sans-serif;
    color: #22235F;
    margin: 3rem;
    width: 50%;
    max-width: 450px;
}

.loginform h3 {
    font-weight: 800;
    font-size: 40px;
}

.loginform label {
    font-size: small;
    font-weight: 400;
    line-height: 2;
}

.loginform input {
    border-radius:6px; 
    border-style: solid;
    border-color:#22235F;
    background-color: #F5F5F5;
    max-width: 450px;
    width: 100%;
    height: 40px;
}

.loginform a {
    color: #22235f;
    font-size: small;
}

.loginform button {
    float: right;
    padding: 6px;
    height: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: #22235f;
    border: none;
    border-radius: 10%;
    color: white;
}

.needcard {
    display: inline-block;
    font-family: 'Inter', sans-serif;
    color: #22235F;
    font-size: small;
    width: 50%;
    max-width: 400px;
    padding-top: 4rem;
    padding-right: 2rem;
    padding-left: 4rem;
}

.needcard img {
    width: 300px;
}

.needcard a {
    font-family: 'Inter', sans-serif;
    color: #22235F;
}

/* About */

.sidenav {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 100px;
    padding: 20px 30px;
}

.links {
    position: relative;
}

.links  ul {
    margin: 0 10;
    padding: 0;
}

.links li {
    padding: 10px 0px;
    list-style: none;
}

.links li a {
    width: 150px;
    height: 30px;
    font-size: small;
    padding: 15 10px;
    text-decoration: none;
    color: #22235F;
}
.links li a:hover {
    cursor: pointer;
    color: #ff6471;
    text-decoration: underline;
}

.aboutcomm {
	width: 80%;
	padding-left: 250px;
	padding-top: 2%;
	display: flex;
	flex-direction: column;
	align-content: center;
    font-size: small;
    padding: 15 10px;
    color: #22235F;
}


.aboutgallery {
    padding-left: 250px;
    width: 80%;
}

.aboutgallery img {
    width: 30%;
    padding-right: 10px;
}

/* JUST ANOTHER LOVE SONG */

.booktitle {
    margin-left:auto;
    margin-right:auto;
    width: 1000px;
    color: #22235F;
}

.bookpage {
    display: flex;
    width: 1000px;
    justify-content: center;
    color: #22235F;
    margin-left:auto;
    margin-right:auto;
}

.bookcover {
    float: left;
}

.bookcover img{
    height: 600px;
}

.cartoptions {
    float: right;
    margin-left: 150px;
}

.bookpage button {
    padding: 6px;
    margin-right: 1rem;
    width: 200px;
    height: 75px;
    font-family: 'Inter', sans-serif;
    font-size: larger;
    background-color: #22235f;
    border: none;
    border-radius: 8px;
    color: white;
    vertical-align: middle;
}

.bookpage button img {
    width: 25px;
    height: 25px;
}

.bookopt {
    display: inline-block;
    border: 2px solid #22235F;
    border-radius: 8px;
    width: 120px;
    height: 80px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
}

.booksummary {
    width: 1000px;
    color: #22235F;
    margin-left:auto;
    margin-right:auto; 
}

.rating {
    width: 1000px;
    padding: 0rem 2rem;
    margin-left:auto;
    margin-right:auto;
}

.rating h3 {
    color: #22235F;
    font-size: 32;
}

.rating img {
    height: 35px;
    width: 35px;
}

.rating button {
    float: right; 
    display: inline; 
    background-color: white;
    color: #22235F;
    border-radius: 6px;
    border-color:#22235F;
    padding: 8px 10px;
}

.reviews {
    width: 1000px;
    padding: 2rem 2rem;
    color: #22235F;
    margin-left:auto;
    margin-right:auto;
    
}

.reviews img {
    height: 25px;
    width: 25px;
}

.tagsection {
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
}

.tagsection h3 {
    font-size: large;
    color: #22235F;
    font-weight: 700;
}

.tags {
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    color: #22235F;
    justify-self: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.tags p {
    border: 2px solid #22235F;
    border-radius: 8px;
    padding: 3px 5px;
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}

.bookrectitles {
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    color: #22235F;
    justify-self: center;
    align-content: center;
    align-items: center;
    display: flex;
}

.bookrectitles p {
    display: inline-block;
    margin-left:auto;
    margin-right:auto;
}

.bookrectitles img {
    display: block;
    max-width: 500px;
    height: auto;
    margin: auto;
}

/* Catalog Page */

.catalogpage {
    font-family: 'Inter', sans-serif;
    background-color: white;
    overflow: hidden;
}

.catalogpage h1 {
    color: #22235F;
    font-family: 'Inter', sans-serif;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.catalogsearch {
    width: 100%;
    max-width: 825px;
    border: 2px solid #22235F;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 10px 20px;
    margin-left: auto;
    margin-right: auto;
}

.catalogsearch input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 20px;
    color: #22235f;
}

.catalogsearch button img {
    width: 25px;
}
.catalogsearch button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 50px;
    background: #F5F5F5;
    cursor: pointer;
}

.advancedsearch {
    width: 750px;
    text-align: right;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.advancedsearch a {
    color: #22235F;

}

.advancedsearch img {
    width: 25px;
    vertical-align: middle;
}

.catalognav {
    display: flex;
    width: 1000px;
    margin-left:auto;
    margin-right:auto;
    justify-content: center;

}

.catalognav p {
    background: #22235F;
    font-family: 'Inter', sans-serif;
    color: white;
    font-weight: 700;
    display: inline-block;
    justify-content: center;
    border-radius: 8px;
    margin: 5px;
    padding: 12px 25px;
}

#currentpagenav {
    background-color: #ff6471;
}

.catalogsort {
    width: 100%;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
}

form.catalogsort select {
    margin-top: 2rem;
    width: 350px;
    height: 50px;
    border: 2px solid #22235F;
    background-color: #F5F5F5;
    color: gray;
    border-radius: 8px;
    padding: 10px 20px;
}

/* .result {
    color: #22235F;
    padding-top: 2rem;
    width: 1000px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.searchresults a {
    text-decoration: underline;
    color: #ff6471;
    font-size: 28px;
}

.searchbookcover img {
    height: 300px;
}

.returnbook {
    width: 100%;
    min-height: 300px;
    background: #ddd;
}

.searchbookcover img {
    grid-row: span 2;
}

*/

.catresults {
    padding-top: 2rem;
    color: #22235F;
    font-family: 'Inter', sans-serif;
    width: 65%;
    max-width: 1000px;
    border-bottom: 2px solid #22235F;
    margin-right: auto;
    margin-left: auto;
    float: left;
}

table.catresults {
    margin-left: 4rem;
}

.booktitlelink {
    text-decoration: underline;
    color: #ff6471;
    font-size: 28px;
}

.cattag {
    color: #22235F;
    font-family: 'Inter', sans-serif;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
} 

p.cattag {
    border: 2px solid #22235F;
    border-radius: 8px;
    padding: 3px 5px;
    margin: 8px 4px;
    display: inline-block;
}

/* Catalog Filters Side Panel */

.catfilters {
    float: right;
    color: #22235F;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    width: 25%;
    max-width: 400px;
    padding-right: 2rem;
}

/* .catfilter button {
    border: 2px solid #22235F;
    border-radius: 8px;
    padding: 5px 8px;
    margin: 8px 4px;
    display: inline-block;
    text-align: center;
} */

.catfilters h3 {
    font-size: 18px;
}

#cfoptions {
    background-color:#EFEFEF;
    border: none;
    overflow: auto;
    padding-left: 1rem;
}

#cfoptions label {
    display: inline-block;
    justify-content: center;
    margin: 5px 3px;
}

#cfoptions label span {
    text-align: center;
    padding:3px 10px;
    border: 2px solid #22235F;
    display: block;
    border-radius: 8px;
}

#cfoptions label input {
    position:absolute;
    top:-20px;
}

#cfoptions input:hover + span {
    background-color:#efE0E0;
}

#cfoptions input:checked + span {
    background-color:#ff6471;
    color:#fff;
}

#cfoptions input:checked:hover + span {
    background-color:#ff6471;
    color:#fff;
}

.tagsearch {
    width: 300px;
    max-width: 325px;
    height: 30px;
    border: 1px solid #22235F;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    color: #22235F;
    font-family: 'Inter', sans-serif;
}

.tagsearch input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 3px 5px;
    font-size: 12px;
    color: #22235f;
}

.tagsearch button {
    border: 0;
    border-radius: 50%;
    background: #F5F5F5;
    cursor: pointer;
}

.tagsearch button img {
    width: 15px;
    vertical-align: middle;
}

.language {
    color: #22235F;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
}

/* Check out list Page */

.bluebar {
    width: 100%;
    height: 80px;
    background-color: #22235F;
    display: flex;
}

#checkoutnav {
    background-color: white;
    margin-left: 2rem;
    margin-top: 2.5rem;
    background: white;
    color:#22235F;
    font-weight: 700;
    width: 150px;
    height: 35px;
    font-size: 14px;
    padding-top: 15px;
    padding-left: 20px;
    justify-content: center;
    border-radius: 8px 8px 0px 0px;
    display: inline;
}

.bluebar p{
    margin-left: 4rem;
}

.cosearchwrap {
    display: inline;
}

#checkoutnav img {
    width: 23px;
    height: 15px;
    vertical-align: middle;
    padding-bottom: 6px;
}

form.checkoutsearch {
    width: 300px;
    height: 30px;
    border: 2px solid #22235F;
    background: #F5F5F5;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: auto;
}

form.checkoutsearch input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 5px 5px;
    color: #22235f;
}

.checkoutsearch button img {
    width: 15px;
}

.checkoutsearch {
    display: inline-block;float:left;

}

#magglass {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: #F5F5F5;
    cursor: pointer;
}

#filter {
    height: 35px;
    border: 2px solid #22235F;
    font-size: 12px;
    padding: 0px 10px;
    color: #22235F;
    margin-top: 2rem;
    float:left;
    margin-left: 1rem;
    border-radius: 10px;
}

.cotable {
    display: block;
    clear:both;
    width: 1200px;
    padding-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.cotable table {
    border-collapse: collapse;
    font-family: 'Inter', sans-serif;
    color: #22235F;
    font-size: smaller;
    vertical-align: middle;
    }

.cotable td, th {
    border: 2px solid #22235F;
    padding: 20px 25px;
    text-align: center;
    vertical-align: middle;
}

#cofirstcol , #cotoprow {
    width: 85px;
    justify-content: center;
    background-color: #e9e9ee;
}

#cofirstcol img {
    width: 15px;
    vertical-align: middle;

}

#secondcol {
    width: 150px;
}

#cotoprow {
    font-family: 'Inter', sans-serif;
    color: #22235F;
    font-weight: 700;
    vertical-align: middle;
}

#late {
    color: #ff6471;
}